In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression

In [2]:
data=pd.read_csv('http://mlr.cs.umass.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv',sep=';')

In [3]:
data.apply(lambda x :sum(x.isnull()),axis=0)

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [4]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [5]:
Y=data.quality
X=data.drop('quality',axis=1)

In [6]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.3)

In [7]:
X_train_scale=preprocessing.scale(X_train)

In [8]:
clf=LogisticRegression()
clf.fit(X_train_scale,y_train)
y_pred=clf.predict(X_test)
y_pred

array([5, 5, 5, 5, 5, 5, 5, 7, 5, 5, 5, 7, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 7, 7, 5, 5, 7, 5, 7, 5, 5, 5, 5, 5, 5, 5, 7, 5, 5,
       5, 5, 7, 7, 7, 7, 5, 5, 5, 5, 7, 7, 7, 5, 5, 5, 5, 7, 5, 7, 7, 7,
       5, 5, 7, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 7, 5, 5, 7, 5, 5, 7,
       5, 5, 7, 7, 7, 5, 5, 5, 5, 5, 7, 5, 5, 5, 5, 5, 5, 7, 5, 7, 5, 5,
       5, 5, 7, 7, 5, 5, 5, 7, 5, 5, 7, 7, 5, 5, 5, 7, 5, 7, 7, 5, 5, 5,
       5, 7, 7, 5, 5, 5, 5, 7, 7, 5, 7, 5, 5, 7, 7, 5, 5, 5, 5, 7, 7, 5,
       5, 7, 7, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 7, 7, 5, 7, 7,
       7, 5, 5, 5, 5, 7, 5, 7, 5, 7, 5, 5, 5, 5, 5, 7, 7, 7, 7, 5, 5, 7,
       5, 5, 5, 5, 7, 7, 5, 5, 5, 7, 5, 5, 5, 5, 7, 7, 5, 5, 7, 5, 5, 5,
       7, 5, 5, 7, 7, 7, 7, 7, 7, 5, 5, 5, 7, 5, 5, 5, 5, 5, 7, 5, 5, 5,
       5, 5, 5, 7, 7, 5, 7, 5, 5, 5, 5, 5, 5, 5, 7, 7, 5, 5, 5, 5, 7, 7,
       7, 5, 7, 7, 5, 7, 5, 5, 5, 5, 7, 7, 7, 5, 5, 7, 5, 7, 5, 7, 7, 5,
       5, 5, 5, 5, 5, 5, 7, 5, 5, 7, 5, 7, 5, 5, 5, 5, 7, 5, 7, 5, 7, 7,
       5, 5, 5, 5, 7, 5, 5, 5, 7, 5, 7, 5, 5, 7, 7, 5, 5, 5, 7, 5, 5, 5,
       5, 7, 5, 5, 5, 5, 7, 5, 5, 5, 7, 5, 5, 5, 7, 7, 5, 5, 5, 7, 7, 7,
       7, 5, 7, 7, 7, 5, 5, 5, 5, 7, 5, 5, 5, 5, 7, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 7, 5, 5, 5, 7, 5, 7, 5, 5, 5, 7, 5, 5,
       7, 7, 7, 5, 5, 5, 7, 5, 5, 5, 7, 7, 5, 5, 5, 5, 7, 5, 7, 7, 7, 7,
       5, 7, 5, 5, 7, 5, 5, 5, 5, 7, 5, 5, 5, 5, 7, 5, 5, 5, 5, 7, 5, 5,
       7, 7, 5, 5, 7, 7, 5, 5, 5, 7, 5, 5, 5, 5, 5, 7, 7, 7, 5, 5, 5, 7,
       7, 5, 5, 5, 7, 5, 5, 7, 7, 5, 5, 5, 5, 5, 7, 7, 5, 7])

In [9]:
accuracy=metrics.accuracy_score(y_pred,y_test)
accuracy

0.36875

In [10]:
x=np.array(y_pred).tolist()

#printing first 5 predictions
print("\nThe prediction:\n")
for i in range(0,5):
    print (x[i])
    
#printing first five expectations
print("\nThe expectation:\n")
print (y_test.head())

The prediction:

5
5
5
5
5

The expectation:

649     6
362     5
353     5
41      4
1553    5
Name: quality, dtype: int64